$blue: #27D0FF;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f21b3f;
$orange: #ff9914;
$yellow: #ffc107;
$green: #29bf12;
$green-light: #6DCAB8;
$blue-light: #97E8FF;
$blue-dark: #3d5e7d;
$green-dark: #0b5849;
$teal: #D3D0CB;
$cyan: #17a2b8;
$warning-light: #ffd087;
$warning-extra-light: #ffffd6;
$light-gray: #797474;
$gray-2: #5B5555;
$blue-dark-light: #527392;
$green-extra-light: #cbebe5;
$black: #000000;

$theme-colors: ();
$theme-colors: map-merge((
        "primary": #1Ebd89,
        "secondary":#abff4f,
        "info": #08bdbd,
        "warning": $orange,
        "danger": $red,
        "dark": #202624,
        "blue": $blue,
        "blue-light": $blue-light,
        "green-light": $green-light,
        "warning-light": $warning-light,
        "light-gray": $light-gray,
        "blue-dark": $blue-dark,
        "blue-dark-light": $blue-dark-light,
        "gray": #dadada,
        "gray-1": #A1A1A1,
        "gray-2": #3C4859,
        "green-extra-light": $green-extra-light,
        "green-dark": $green-dark,
        "green-1": #e2f4f1,
        "black": #000,
        "danger-dark" : #C82333,
), $theme-colors);


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/darkly/bootswatch";
@import "~font-awesome/css/font-awesome.min.css";


@mixin eco-block($background) {
    background: $background;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.38);
    padding: 15px;
    border-radius: 10px;
}

@each $color, $value in $theme-colors {
    .eco-block-#{$color} {
        @include eco-block($value);
    }
}

body {
    background: theme-color("dark");
}

.custom-input {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
}
.custom-select-eco {
    @extend .custom-select;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
}
.custom-input::placeholder {
    color: white;
}

.navbar {
    border-bottom: 1px solid #a0747F;
    background: theme-color("dark") !important;
}
.table {
    color: theme-color("primary");
    border: 1px solid white;
    border-left-style: none;
    border-right-style: none;
}

