{% extends 'base.html.twig' %}
{% block login %}
    <div class="row" style="height: 100vh;">
        <div class="col my-auto text-center">
            <h1 class="text-white font-weight-bold font-italic mb-4">Make your event green again</h1>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="{{ path('adminLogin') }}" method="post" class="d-flex flex-column">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="custom-input"
                               placeholder="Email" required autofocus>
                        <input type="password" id="password" name="_password" class="my-3 custom-input" placeholder="Mot de passe" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-primary mx-auto font-weight-light" type="submit">
                            Voir les résultats
                        </button>
                        <a class="font-weight-light mt-4" href="#">
                            En savoir plus
                        </a>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}